<!-- Custom HTML site displayed as the Home chapter -->

{% extends "main.html" %} {% block tabs %} {{ super() }}
<style>
  .md-main {
    flex-grow: 0;
  }

  .md-container {
    min-height: 100vh;
  }

  .md-main__inner {
    display: flex;
    height: 100%;
  }

  .hero-container {
    background: #3654b2;
  }

  .hero-contents {
    color: var(--md-primary-bg-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
  }

  .hero-contents h1 {
    margin-bottom: 0.25rem;
    color: currentColor;
    font-weight: 700;
  }

  .hero-contents__content {
    padding: 1rem;
  }

  .hero-contents__image {
    width: 17rem;
    margin-right: 3rem;
  }

  @media (max-width: 600px) {
    .hero-contents__image {
      display: none;
    }
  }

  .hero-contents__image img {
    display: inline-block;
    vertical-align: middle;
  }

  .hero-contents .md-button {
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    color: var(--md-primary-bg-color);
  }

  .hero-contents .md-button--primary {
    background-color: var(--md-primary-bg-color);
    color: hsla(280deg, 37%, 48%, 1);
    border-color: var(--md-primary-bg-color);
  }

  .hero-contents .md-button:focus,
  .hero-contents .md-button:hover {
    background-color: var(--md-accent-fg-color);
    color: var(--md-default-bg-color);
    border-color: var(--md-accent-fg-color);
  }

  .feature-item h2 svg {
    height: 30px;
    float: left;
    margin-right: 10px;
    transform: translateY(10%);
  }

  .top-hr {
    margin-top: 42px;
  }

  .feature-item {
    margin: 2rem 0;
    font-family: "Mulish", sans-serif;
    font-weight: 300;
    box-sizing: border-box;
    padding: 0 15px;
    word-break: break-word;
    display: block;
    max-width: 80ch;
  }

  .feature-item h2 {
    color: #2d2e31;
    font-weight: 300;
    font-size: 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    margin: 20px 0 10px 0;
    font-family: inherit;
  }

  .feature-item p {
    font-size: 16px;
    line-height: 24px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: #2d2e31;
    margin: 0 0 10px;
    display: block;
  }

  @media screen and (max-width: 30em) {
    h1 {
      font-size: 1.4rem;
    }
  }

  @media screen and (min-width: 60em) {
    .md-sidebar--secondary {
      display: none;
    }
  }

  @media screen and (min-width: 76.25em) {
    .md-sidebar--primary {
      display: none;
    }

    .top-hr {
      width: 100%;
      display: flex;
      justify-content: space-between;
      max-width: 61rem;
      margin: auto;
      padding: 0 0.2rem;
    }

    .bottom-hr {
      margin-top: 10px;
      width: 100%;
      display: flex;
      max-width: 61rem;
      margin: auto;
      padding: 0 0.2rem;
    }

    .feature-item {
      border: 2px solid rgba(0, 0, 0, 0);
      flex: 1;
      min-width: 0;
    }

    .feature-item:hover {
      background-color: #f4f7ff;
      border-color: #425cc3;
      border-radius: 8px;
      -webkit-transition: background-color 0.3s ease-out,
        border-color 0.3s ease-out;
      transition: background-color 0.3s ease-out, border-color 0.3s ease-out;
    }
  }

  .hr {
    border-bottom: 1px solid #eee;
    width: 100%;
    margin: 20px 0;
  }

  .text-center {
    text-align: center;
    padding: 0 1rem 0.5rem 1rem;
    margin: auto;
    margin-top: 1rem;
    font-family: "Lato", sans-serif;
    font-size: 23px;
    font-weight: 300;
  }

  .logos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    margin: 0 auto;
  }

  .logos img {
    flex: 1 1 auto;
    padding: 25px;
    max-height: 130px;
    vertical-align: middle;
  }

  .hr-logos {
    margin-top: 0;
    margin-bottom: 30px;
  }

  .md-footer-meta__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1rem;
  }

  .md-footer-social {
    padding-top: 20px;
  }

  /* Beta notice */

  footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    margin-top: auto;
    max-width: 61rem;
    padding: 0 1rem;
  }

  @media screen and (max-width: 76.25em) {
    footer {
      flex-direction: column;
    }
  }

  .notice {
    color: #2d2e31;
    max-width: 65ch;
  }

  .notice a {
    color: #425cc3;
  }

  .notice a:hover {
    text-decoration: underline;
  }
</style>

<!-- Main site Entry button descriptions -->
<section class="hero-container">
  <div class="md-grid md-typeset">
    <div class="hero-contents">
      <div class="hero-contents__content">
        <h1 class="hero-header">Welcome to Classy Early Access</h1>
        <p class="hero-subheading">
          Discover Classy features that are currently in beta and early access.
        </p>
      </div>
      <div class="hero-contents__image">
        <img
          src="assets/early-access.png"
          alt="Early Access help center logo"
        />
      </div>
    </div>
  </div>
</section>

<!-- Main site box descriptions -->
<footer>
  <div class="notice beta-notice">
    <h2>What is a beta program at Classy?</h2>

    <p>
      Beta programs are designed to test new or modified products, or features
      or functionalities of existing products, which are designated as beta,
      lighthouse, pilot, limited release, early access, developer preview,
      non-production, evaluation, or by a similar description (“Beta Products”).
      In Classy’s beta programs, one or more of these Beta Products are being
      made available to select customers prior to general availability release.
      While Classy extensively tests such Beta Products before release, the
      functionality of the features of such Beta Products may not be complete,
      and Beta Products could experience unknown bugs that may not be
      immediately addressed. Classy may discontinue Beta Products at any time in
      its sole discretion and may never make them generally available, and Beta
      Products remain in beta unless otherwise specified by Classy. Please refer
      to Classy’s Platform Attachment for full terms and conditions governing
      Beta Products.
    </p>
  </div>
  <div class="notice contact-notice">
    <h2>Want to help improve Classy?</h2>
    <p>
      <a href="https://t.maze.co/141715913?guerilla=true" target="_blank"
        >Sign up</a
      >
      to participate in Product Research and we'll reach out for feedback or a
      brief survey.
    </p>
  </div>
</footer>

{% endblock %} {% block content %}{% endblock %} {% block footer %}{% endblock
%}
