/* Update background color */
[data-md-color-scheme="classy"] {
  --md-primary-fg-color: #3654b2;
  --md-accent-fg-color: #3654b2;
  --md-primary-fg-color--light: #ecb7b7;
  --md-primary-fg-color--dark: #90030c;
}

.md-content__inner {
  max-width: 70ch;
}

p > img {
  display: block;
  margin: 2rem auto;
  padding: 0;
  border: 1px solid #f9f9f8;
  border-radius: var(--radius-radius, 19.8px);
  background: var(--neutrals-poster, #f9f9f8);
  box-shadow: 0px 10px 34px 0px rgba(0, 0, 0, 0.08);
  /* max-width: 92% !important; */
}

.md-nav--primary .md-nav__link,
.md-nav--secondary .md-nav__link {
  border-left: 2px solid rgba(0, 0, 0, 0);
  font-weight: 500;
  padding-left: 0.8rem;
}

.md-nav--primary .md-nav__link--active,
.md-nav--secondary .md-nav__link--active {
  background-color: rgba(208, 215, 222, 0.24);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  color: #374ca0;
  border-left-color: #425cc3;
  font-weight: 500;
}

.md-nav__link {
  padding: 4px;
  transition: none;
}

.md-nav--primary .md-nav__link:hover,
.md-nav--secondary .md-nav__link:hover {
  color: #374ca0;
  background: rgba(208, 215, 222, 0.24);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.md-nav--secondary .md-nav__list .md-nav__item {
  font-size: 16px;
  font-weight: 400;
  display: block;
}

p a:hover {
  text-decoration: underline;
}

/* Feature and bug release note tags */

.tag {
  border: solid 1px;
  padding: 0.25rem;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 700;
}

.tag--feature {
  color: #006644;
}

.tag--bug {
  color: #de350b;
}

/* Replace article title with Navigation */
/* label.md-nav__link {
  visibility: hidden;
  position: relative;
}

label.md-nav__link:after {
  visibility: visible;
  position: absolute;
  top: 0;
  left: 0;
  content: "Navigation";
} */
